# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildpath
.cproject
.fdb_latencies
.indexes
.metadata
.plugins
.settings
.target
.tours
.project
build_log*.txt

# Development targets
/*.xcodeproj
# Flutter-related
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Symbol listing white-list
!/build/ios/app.framework

# User-specific stuff
/.idea/
/.vscode/
*.darttool
